#about {
	padding-top: 50px;
}
.c-inner {
	padding-right: 20%;
}
.timeline_lists {
	display: grid;
	gap: 2em;
	width: 100%;
	padding-left: 12%;
	margin-right: 12%;
	padding-top: 20px;
}
.timeline_link {
	display: flex;
	gap: 2em;
	align-items: center;
	border-bottom: 2px dotted rgba(95, 77, 82, 0.1);
	text-decoration: none;
	color: var(--text_color);
}
.timeline_thumb {
	margin-top: 0px;
}
.timeline_img {
	position: relative;
	margin: 0px;
	width: 180px;
	height: 180px;
	border: 1px solid #ddd;
	z-index: -1;
	overflow: hidden;
	border-radius: 20px;
}
.timeline_img > img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 150px;
	object-fit: cover;
}

.timeline_date {
	font-size: clamp(0.75em, 2vw, 0.875em);
}
.timeline_subtitle {
	font-size: clamp(25px, 1.01563vw, 16px);
	font-weight: 800;
	color: var(--main_color);
}
@media (hover: hover) {
	.timeline_link[href]:hover .timeline_thumb img {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}
.timeline_thumb img {
	transition: -webkit-transform var(--time) ease;
	transition: transform var(--time) ease;
}
