body {
	margin: 0px;
	font-family: serif;
}

.header {
	height: 70px; /*高さ指定*/
	width: 100%; /*横幅指定*/
	/*以下はレイアウトのためのCSS*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ffffff;
	color: #2e2e2e;
	text-align: center;
	position: fixed;
	z-index: 1;
}

/*JSを使いfixedクラスが付与された際の設定*/
.header.fixed {
	position: fixed; /*fixedを設定して固定*/
	z-index: 999; /*最前面へ*/
	top: 0; /*位置指定*/
	left: 0; /*位置指定*/
}
.header_innner {
	width: 100%;
	justify-content: space-between;
	padding: 17px 40px;
	align-items: center;
	display: flex;
}
li {
	list-style: none;
}

.headerNavLists {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.headerNavLists_item > a {
	text-decoration: none;
	align-items: center;
	color: rgb(88, 88, 88);
	padding: 10px;
	transition: 0.3s;
}
.headerNavLists_item > a:hover {
	align-items: center;
	color: rgb(157, 35, 188);
	font-size: 20px;
	font-weight: bold;
	transition: 0.3s;
}
.logo > a > img {
	width: 61.2px;
	height: auto;
}
.fullwrap {
	font-family: "游ゴシック", "Arial", "メイリオ";
	font-size: clamp(15px, 1.01563vw, 16px);
	line-height: 1.6;
	font-weight: 400;
	color: var(--text_color);
	letter-spacing: 0.15em;
}
.item_title {
	font-size: 3em;
	font-weight: 800;
	line-height: 0;
	padding-left: 120px;
}
.item_title--sub {
	font-size: 0.5em;
	font-weight: 700;
	line-height: 0;
}

.fadeInUp {
    opacity: 0;
    transform: translateY(50px);
}
/* フェードインアニメーション */
@keyframes fadeIn {
    0% {
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

:root {
	--main_color: rgb(81, 146, 232);
	--text_color: #5f4d52;
	--text_color_02: #ffffff;
	--time: 0.5s;
	--background_color_blue: rgb(76, 223, 223);
	--background_color_pink: rgb(244, 177, 187);
	--background_bar_color_pink: rgb(255, 235, 238);
	--background_bar_color_blue: aliceblue;
}
