#top {
	padding: 30px;
	display: inline;
	color: rgb(255, 255, 255);
}
.top_background_img {
	overflow: hidden;
	width: 100%;
}
.top_background_img > img {
	z-index: -1;
	position: absolute;
	top: 0px;
	max-height: 780px;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
}
#top_inner {
	display: flex;
	margin: 30px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: clamp(21px, 1.01563vw, 16px);
	border: 1px solid #cecece;
	border-radius: 40px;
	background-color: rgba(40, 187, 255, 0.5);
}

.top_info {
	width: 50%;
	float: left;
	text-align: center;
	padding: 30px;
	padding-left: 30px;
}
.top_name {
	font-size: 2em;;
	margin-top: 0px;
	margin-bottom: 10px;
}
.top_socials {
	text-align: center;
	gap: 1.25em;
	display: flex;
	width: 200px;
	margin: auto;
	padding-top: 50px;
	padding-left: 20px;
}
.top_img {
	padding-left: 100px;
	padding-right: 100px;
}

.top_socials > li > a > img {
	height: 42px;
	width: auto;
}

.top_img > img {
	width: 300px;
	height: auto;
	border-radius: 40px;
	border: 4px solid var(--main_color);
}

.slider{
	padding-top: 50px;
	line-height: 0;
	font-size: 0;
	opacity: 20%;
}