#works {
	padding-top: 50px;
	
}
.works_title {
	font-size: 3em;
	font-weight: 800;
	line-height: 0;
	padding-left: 120px;
}
.works_content{
	padding-top: 60px;
	background-color: rgb(222, 246, 246);
}
.works_sub_title{
	font-size: 2em;
	font-weight: 800;
	line-height: 0;
	padding-left: 150px;
	padding-bottom: 20px;
}

.works_list {
	z-index: -1;
	mask-image: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 0%,
		rgb(0, 0, 0) 40px,
		rgb(0, 0, 0) calc(100% - 40px),
		rgba(0, 0, 0, 0) 100%
	);
	overflow-x: auto;
	white-space: nowrap;
	margin-left: 100px;
	margin-right: 7%;
}
.works_link {
	display: inline-block;
	text-decoration: none;
	margin: 16px;
	color: #fff;
	background-color: #ff5a5f;
	border-radius: 20px;
	box-shadow: 0 1px 10px 0 rgba(182, 178, 178, 0.802);
	overflow:hidden;
	width: 400px;
	height: 400px;
}
.works_thumb{
	margin: 0;
	overflow:hidden;
}
.works_img {
	position: relative;
	margin: 0px;
	width: 400px;
	height: 225px;
	border: 1px solid #ddd;

}
.works_img > img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 400px;
	height: 225px;
	object-fit: cover;
    
}
.c-card_detail{
	
	padding-left: 20px;
	padding-right: 20px;
}
.c-card_categories{
	padding-left: 0;
	padding-top:10px ;
	padding-bottom:20px ;
	display: flex;

}
.c-card_category{
	margin-right: 10px;
    padding: 0.25em 1em;
    font-size: 0.8em;
    border: 1px solid var(--text_color_02);
    border-radius: 1000px;
	padding-right: 10px;
}
.c-card_title{
	font-weight: 700;
	font-size: 1.3em;
	min-height: 90px;
	text-align: center;
}
.c-card_time{
	padding-right: 20px;
	text-align: right;
}
@media (hover: hover) {
    .works_link[href]:hover .works_thumb img {
        -webkit-transform:scale(1.1);
        transform: scale(1.1);
    }
}
.works_thumb img {
    transition: -webkit-transform var(--time);
    transition: transform var(--time);
    transition: transform var(--time), -webkit-transform var(--time);
}
